@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --header-font: "Luckiest Guy", cursive;
    --max-width: 750px;
    --nav--font-size: 1.3em;
    --color-purple: #27032d;
    --color-gray: #666666;
    --color-white: #FFFFFF;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
    height: 165px
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin-left: 20%;
    background-color: var(--color-purple);
}

header img {
    width: 200px;
    float: left;
}

header div {
    width: 40%;
    margin-left: 300px;
    margin-top: 10px;
}

header ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    gap: 2px;
}

header ul li {
    text-transform: uppercase;
    font-family: var(--header-font);
    font-size: var(--nav--font-size);
    color: var(--color-white);
}